<% tags.each do |tag| %>
  <div class="row">
    <div class="col-md-12 hash_tag_button">
      <%= link_to "/hashtag/#{tag.id}", remote: true do %>
        <h5 class="hash_tah_name" data= "<%= tag.id %>"><%= tag.hash_tag %></h5>
      <% end %>
    </div>
  </div>
<% end %>